$font-stack: "Cabin", Helvetica, Arial, sans-serif;
$font-size-form: 20px;
$color-black: #040404;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#app,
.container {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-black;
  text-align: left;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  .auth-handler {
    width: 60px;
    background-color: #4c5958;
    i {
      font-size: 37px;
      color: #ebeef0;
      padding: 10px;
      cursor: pointer;
    }
  }
  .home-intro {
    flex: 1 0 100px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.12);
    background-color: #ebeef0;
    display: flex;
    flex-direction: column;
    height: 100%;
    .contacts {
      flex: 2 0 90%;
      overflow: scroll;
    }
    .add-note {
      flex: 1 0 10%;
      font-size: 30px;
      text-align: right;
      background-color: white;
      padding: 20px 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      input[type="text"] {
        height: 35px;
        width: 66%;
        outline: none;
        padding: 7px;
        border: 2px solid #aeaeae;
        border-radius: 3px;
      }
      i {
        color: #aeaeae;
      }
    }
  }
  .auth-section,
  .single-note {
    flex: 3 0 0;
  }
  .single-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .single-note-header {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      i {
        color: #112720;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .single-note-wrapper {
      height: 70%;
      padding: 20px;
      h4 {
        font-size: 40px;
      }
      p {
        font-size: 17px;
      }
      input,
      textarea {
        height: 40px;
        width: 100%;
        margin: 20px 0;
        border-radius: 5px;
        border: none;
        background-color: #ebeef0;
        padding: 10px 20px;
      }
      textarea {
        height: 175px;
        margin: 0;
      }
      button {
        margin: 6px;
        height: 35px;
        width: 80px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      height: 50%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 35px;
        text-align: end;
      }
      p {
        font-size: 15px;
        text-align: center;
      }
      .form-control {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        input {
          height: 50px;
          border-radius: 7px;
          outline: none;
          border: none;
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
          padding: 0 10px;
          font-size: $font-size-form;
        }
      }
      button {
        height: 60px;
        width: 100%;
        margin: 10px 0;
        background-color: #040404;
        color: #f6f6f6;
        border-radius: 4px;
        font-size: $font-size-form;
        border: none;
        cursor: pointer;
        &:disabled {
          background-color: #a2a2a2;
          border: none;
        }
      }
    }
  }
  .note-list {
    height: 100px;
    padding: 20px;
    border-bottom: solid 1px #bbc5ca;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: 525px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  input,
  textarea {
    height: 40px;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    background-color: #ebeef0;
    padding: 10px 20px;
  }
  textarea {
    height: 175px;
    margin: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.cta {
  &.btn {
    button {
      margin: 6px;
      height: 35px;
      width: 80px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
